#root {
  max-width: 1024px;
  margin: auto;
  padding: 0;
  text-align: center;
  max-height: 600px;
  overflow: hidden;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}